@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    /* background-color: #F2FAFA; */
    background: #f7f8fc;
    font-family: 'Poppins';
}

a {
    color: #090909;
    text-decoration: none;
}

a:hover {
    color: #1E88E5;
    /* font-size: 20px; */
}

a:hover .lineseeall {
    background-color: #1E88E5;
    margin-left: 20px;
    /* transform: scale(2, 2); */
    ;
}

/*nav style start*/

nav.navbar div.container {
    padding: 15px 25px;
    border-radius: 50px;
}

nav form input.form-control {
    border: 0;
    border-bottom: 1px solid #ced4da;
}

nav form button.btn-outline-success,
.homesection1 form button.btn-outline-success {
    background-color: #1E88E5;
    border: 0;
    color: white;
    border-radius: 50px;
    width: 160px;
    ;


}

.navbar .navbar-nav .nav-link {
    color: #796d6d !important;
    font-weight: 400;
    font-size: 20px;
}

.navbar .navbar-nav .router-link-active {
    color: #1E88E5;
}

nav form button.btn-outline-success:hover,
.homesection1 form button.btn-outline-success:hover {
    background-color: white;
    border: 2px solid #1E88E5;
    color: #1E88E5;
    ;
}

nav i {
    font-size: 20px;
    margin: 0 10px;
    color: #1E88E5;
}

nav ul.dropdown-menu {
    border: 2px solid rgba(0, 0, 0, .15);
    border-radius: 25px;
}

@media screen and (min-width: 992px) {
    nav.navbar div.container {
        margin-top: 40px;
    }
}

@media screen and (max-width: 767px) {
    nav.navbar div.container {
        margin-top: 15px;
    }

    form .none {
        display: none;
    }

    .navbar-nav .dropdown-menu {
        position: absolute;
        left: -30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    nav.navbar div.container {
        margin-top: 30px;
    }

    form .none {
        display: none;
    }

    .navbar-nav .dropdown-menu {
        position: absolute;
        left: -30px;
    }
}

/*nav style end*/
/*Section1Home style start*/
.homesection1 h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 98px;
    color: #252525;

}

.homesection1 h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #252525;
    opacity: 0.6;
}

.homesection1 form input.form-control {
    background-color: transparent;
}

/*Section1Home style end*/


/*Section2Home style start*/
.homesection2 {
    padding: 60px 0;

}

.homesection2 h2,
.homesection3 h2,
.homesection4 h2,
.homesection5 h2 {
    font-weight: 500;
    font-size: 56px;
    line-height: 84px;
    color: #252525;
    text-transform: capitalize;
}

.homesection2 p,
.homesection3 p,
.homesection4 p {
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #9D9D9D;
    opacity: .9;
}

.lineseeall {
    width: 30px;
    height: 2px;
    background-color: #090909;
    /* background-color: #1E88E5; */
}



/*Sectio2Home style end*/
/*Sectio3Home style start*/
.homesection3 {
    padding: 30px 22px;
}

.homesection3 .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
}

.homesection3 .card {
    padding: 15px 15px;

}

/*Sectio3Home style end*/

/*section4Home style start*/
.homesection4 {
    padding: 0px 0px 40px;
}

.homesection4 h2 {

    color: transparent;
    -webkit-text-stroke: 1px #006090;
    /* background: url(../image/6.png); */

    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    font-family: CairoBlack;



}

@keyframes back {
    100% {
        background-position: 2000px 0;

    }
}

@media screen and (min-width: 992px) {

    .profile-card:hover .img {
        transform: translateY(-80px);
    }

    .caption {
        transform: translateY(-70px);
    }

    .homesection4 h2 {

        font-size: 100px;
        line-height: 230px;
    }

    .profile-card {
        width: 250px;
        height: 250px;
    }

    .profile-card:hover {

        height: 260px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .profile-card:hover .img {
        transform: translateY(-60px);
    }

    .caption {
        transform: translateY(-80px);
    }

    .profile-card:hover {

        height: 200px;
    }

    .homesection4 h2 {
        font-size: 50px;
        line-height: 100px;
    }

    .profile-card {
        width: 200px;
        height: 170px;
    }
}

@media screen and (max-width: 767px) {
    .homesection4 {
        padding: 0px 0px 150px;
    }

    .profile-card:hover .img {
        transform: translateY(-60px);
    }

    .caption {
        transform: translateY(-85px);
    }

    .profile-card:hover {
        height: 180px;

    }

    .homesection4 h2 {
        font-size: 30px;
        line-height: 50px;
    }

    .profile-card {
        width: 150px;
        height: 150px;


    }
}



.homesection4 {
    background-color: #eaedef;

    margin-top: 100px;
}

.main {

    display: flex;
    justify-content: center !important;
    align-items: center;

}

.profile-card {
    position: relative;
    font-family: sans-serif;

    background: #fff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
    margin: 0 25px;
}

.profile-card:hover {
    border-radius: 10px;

}

.profile-card .img {
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 99;
}

.img img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
}

.profile-card:hover img {
    border-radius: 10px;
}

.caption {
    text-align: center;

    opacity: 0;
    transition: .6s;
}

.profile-card:hover .caption {
    opacity: 1;
}

.caption h3 {
    font-size: 21px;
    font-family: sans-serif;
}

.caption p {
    font-size: 15px;
    color: #0c52a1;
    font-family: sans-serif;
    margin: 2px 0 9px 0;
}

/*section4Home style end*/
/*section5Home style start*/

.homesection5 {
    padding: 60px 0;
    position: relative;
    background: #f7f8fc;
}

.homesection5 .row .item {
    border-radius: 40px;
    padding: 55px;
    background-color: #f7f8fc;
    box-shadow: -15px -15px 20px rgb(255 255 255 / 80%), 15px 15px 20px rgb(57 65 124 / 8%);
}

/*section5Home style end*/
/*Footer style start*/
#page-content {
    flex: 1 0 auto;


}

footer {
    background-color: #090909
}

.footer h5 {
    font-weight: 700;
    font-size: 1.65em;
    font-family: 'Lora', sans-serif;
    line-height: 18px;
    margin: 0 0 14px 0;
    letter-spacing: -.05em;
}

.footer p {
    /* text-align: left; */
    color: #252525;
    font-size: 1.1em;
    line-height: 26px;
    margin: 0 0 20px;
    font-family: 'Poppins', sans-serif;
}

.footer ul li {
    color: #252525;
    list-style-type: none;
    line-height: 32px;
    font-size: 1em;
    /* text-align: left; */
}

/*Footer style end*/