/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;400;500;600;700&family=Noto+Sans+Arabic&display=swap');

body {
    /* background-color: #F2FAFA; */
    background: #f7f8fc;
    /* font-family: 'Poppins'; */
    font-size: 16px;
    font-family: 'Noto Kufi Arabic', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', "sans-serif";
}

a {
    color: #090909;
    text-decoration: none;
}

a:hover {
    color: #1E88E5;
    /* font-size: 20px; */
}

a:hover .lineseeall {
    background-color: #1E88E5;
    margin-left: 20px;
    /* transform: scale(2, 2); */
    ;
}

/*nav style start*/
.menuSection.fixed-top {
    box-shadow: 5px 5px 5px #b5b5b5;
}

nav.navbar div.container-fluid {
    padding: 20px 25px;
    /* border-radius: 50px; */
}

nav form input.form-control {
    border: 0;
    border-bottom: 1px solid #ced4da;
}

nav form button.btn-outline-success,
.homesection1 form button.btn-outline-success {
    /* background-color: #1E88E5;
    border: 0;
    color: white;
    border-radius: 50px;
    width: 160px;
    ; */
    background-color: #001527;
    border: 1px solid white;
    color: white;
    border-radius: 15px;
    width: 160px;
    margin: 0 15px;


}

.navbar .navbar-nav .nav-link {
    color: #796d6d !important;
    font-weight: 400;
    font-size: 20px;
}

.navbar .navbar-nav .router-link-active {
    color: #1E88E5;
}

nav form button.btn-outline-success:hover,
.homesection1 form button.btn-outline-success:hover {
    background-color: white;
    border: 2px solid #1E88E5;
    color: #1E88E5;
    ;
}

nav i {
    font-size: 20px;
    margin: 0 10px;
    color: #1E88E5;
}

nav ul.dropdown-menu {
    border: 2px solid rgba(0, 0, 0, .15);
    border-radius: 25px;
}

@media screen and (min-width: 992px) {


    nav .logo {
        width: 190px;
        height: 50px
    }
}

@media screen and (max-width: 767px) {


    form .none {
        display: none;
    }

    .navbar-nav .dropdown-menu {
        position: absolute;
        left: -30px;
    }

    nav .logo {
        width: 105px;
        height: 35px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {


    nav .logo {
        width: 190px;
        height: 50px
    }

    form .none {
        display: none;
    }

    .navbar-nav .dropdown-menu {
        position: absolute;
        left: -30px;
    }
}

/*nav style end*/
/*Section1Home style start*/
@media screen and (min-width: 992px) {
    .homesection1 {
        height: 650px;
        display: flex;
        position: relative;
        align-items: center;
    }

    /* .homesection1 .container {
        padding-top: 157px;
    } */
}

@media screen and (max-width: 767px) {}

@media screen and (min-width: 768px) and (max-width: 991px) {}




.backgroundheader {
    background-color: #404040cf;
    position: absolute;
    width: 100%;
    height: 100%;
}

.homesection1 h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 98px;
    color: #252525;
    /* color: white; */

}

.homesection1 h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #252525;
    opacity: 0.6;
    /* color: white; */
}

.homesection1 form input.form-control {
    background-color: transparent;
}

/*Section1Home style end*/


/*Section2Home style start*/
/* .homesection2 {
    padding: 60px 0;

} */
.homesection2 {
    background-image: url('../../images/image1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    position: relative;
}

.homesection2 .bagsection2 {
    background-color: #001527a6;
    width: 100%;
    height: 100%;
}

h2 {
    font-weight: 500;
    font-size: 4vw;
    line-height: 84px;
    position: relative;
}

.homesection2 h2 {

    /* color: #252525; */
    color: white;

    /* -webkit-text-stroke: .2vw #0c52a1; */
}

/* 
.homesection2 h2::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #9D9D9D;
    -webkit-text-stroke: 0vw #0c52a1;
    border-right: 5px solid #9D9D9D;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
} */

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    opacity: .9;
}

.homesection2 p {

    /* color: #9D9D9D; */
    color: white;
}

.lineseeall {
    width: 30px;
    height: 2px;
    background-color: white;
    /* background-color: #1E88E5; */
}

.homesection2 .carousel-indicators {
    bottom: -25px;
}

.homesection2 .carousel-indicators button {
    background-color: white;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

/*Sectio2Home style end*/
/*Sectio3Home style start*/
.homesection3 {
    padding: 30px 22px;
}

.homesection3 h2,
.homesection4 h2,
.homesection5 h2 {
    color: #001527cf;
}

.homesection3 p {
    color: #001527a6;
}

.homesection3 .swiper-button-prev,
.homesection3 .swiper-button-next {
    padding: 45px 20px;
    background-color: #0000ff1f;
}

.homesection3 .swiper-button-next:after,
.homesection3 .swiper-button-prev:after {
    font-size: 20px !important;
}

.homesection3 .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
}

.homesection3 .card {
    padding: 15px 15px;

}

/*Sectio3Home style end*/

/*section4Home style start*/
.homesection4 {
    padding: 0px 0px 40px;
}

.homesection4 h2 {

    /* color: transparent;
    -webkit-text-stroke: 1px #006090; */
    /* background: url(../image/6.png); */

    /* -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    font-family: CairoBlack; */



}

@keyframes back {
    100% {
        background-position: 2000px 0;

    }
}

@media screen and (min-width: 992px) {
    .caption h3 {
        font-size: 21px;
    }

    .caption p {
        font-size: 15px;

    }

    .profile-card:hover .img {
        transform: translateY(-80px);
    }

    .caption {
        transform: translateY(-70px);
    }

    .homesection4 h2 {

        font-size: 100px;
        line-height: 230px;
    }

    .profile-card {
        margin: 0 25px;
        width: 250px;
        height: 250px;
    }

    .profile-card:hover {

        height: 260px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .profile-card:hover .img {
        transform: translateY(-60px);
    }

    .caption h3 {
        font-size: 21px;
    }

    .caption p {
        font-size: 15px;

    }

    .caption {
        transform: translateY(-80px);
    }

    .profile-card:hover {

        height: 200px;
    }

    .homesection4 h2 {
        font-size: 50px;
        line-height: 100px;
    }

    .profile-card {
        width: 200px;
        height: 165px;
    }
}

@media screen and (max-width: 767px) {
    .homesection4 {
        padding: 0px 0px 150px;
    }

    .caption h3 {
        font-size: 20px;
    }

    .caption p {
        font-size: 13px;

    }

    .profile-card:hover .img {
        transform: translateY(-60px);
    }

    .caption {
        transform: translateY(-85px);
    }

    .profile-card:hover {
        height: 180px;

    }

    .homesection4 h2 {
        font-size: 30px;
        line-height: 50px;
    }

    .profile-card {
        width: 150px;
        height: 150px;


    }
}



.homesection4 {
    background-color: #eaedef;

    margin-top: 100px;
}

.main {

    display: flex;
    justify-content: center !important;
    align-items: center;

}

.profile-card {
    position: relative;
    font-family: sans-serif;

    background: #fff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
}

.profile-card:hover {
    border-radius: 10px;

}

.profile-card .img {
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 99;
}

.img img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
}

.profile-card:hover img {
    border-radius: 10px;
}

.caption {
    text-align: center;

    opacity: 0;
    transition: .6s;
}

.profile-card:hover .caption {
    opacity: 1;
}

.caption h3 {
    font-family: sans-serif;
}

.caption p {
    color: #0c52a1;
    font-family: sans-serif;
    margin: 2px 0 9px 0;
}

/*section4Home style end*/
/*section5Home style start*/

.homesection5 {
    padding: 60px 0;
    position: relative;
    background: #f7f8fc;
}

.homesection5 .row .item {
    border-radius: 40px;
    padding: 55px;
    background-color: #f7f8fc;
    box-shadow: -15px -15px 20px rgb(255 255 255 / 80%), 15px 15px 20px rgb(57 65 124 / 8%);
}

.homesection5 .imagebackground {
    position: absolute;
    z-index: 0
}

@media screen and (min-width: 992px) {
    .homesection5 .imagebackground {
        top: 94px;
        right: -117px;
    }
}

@media screen and (max-width: 767px) {
    .homesection5 .imagebackground {
        top: 155px;
        left: -235px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .homesection5 .imagebackground {
        top: 155px;
        left: -207px;
    }
}

/*section5Home style end*/

/*Form style start*/

@media screen and (min-width: 992px) {}

@media screen and (max-width: 767px) {}

@media screen and (min-width: 768px) and (max-width: 991px) {}

.backgroundcolor {
    background-color: #333;
}

/* .bbackgroundcolor2 {
    background-color: rgb(65, 64, 64);
} */
.backgroundcolor h3,
.backgroundcolor .p {
    color: white;
}

.backgroundcolor .card {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    background-color: #424242;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.height {
    height: 90px;
}

.form-control-label {
    margin-bottom: 0
}



.backgroundcolor button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300;
    /* background-color: white; */
}

input,
textarea {
    color: white;
    padding: 8px 15px;
    background-color: transparent;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

.form-select {
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300;
    border-radius: 5px !important;
    padding: 8px 15px;
    color: white;
    background-color: transparent;
}

option {
    background-color: black;
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 48px;
    cursor: pointer;
    width: 102px;
}

.btn-block:hover {
    color: #fff !important;
    background-color: black;
    border: black;

}

.backgroundcolor button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}





/*Form style end*/
/*Footer style start*/
@media screen and (min-width: 992px) {
    .footer .row {
        justify-content: center
    }

    .footer .container {
        padding: 100px 55px
    }
}

@media screen and (max-width: 767px) {
    .footer .container {
        padding: 100px 30px
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .footer .row {
        justify-content: space-between
    }

    .footer .container {
        padding: 100px 55px
    }
}

#page-content {
    flex: 1 0 auto;
}

footer {
    background-color: #090909
}

.footer h5 {
    font-weight: 700;
    font-size: 1.65em;
    font-family: 'Lora', sans-serif;
    line-height: 18px;
    margin: 0 0 14px 0;
    letter-spacing: -.05em;
}

.footer p {
    /* text-align: left; */
    color: #252525;
    font-size: 1.1em;
    line-height: 26px;
    margin: 0 0 20px;
    font-family: 'Poppins', sans-serif;
}

.footer ul li {
    color: #252525;
    list-style-type: none;
    line-height: 32px;
    font-size: 1em;
    /* text-align: left; */
}

/*Footer style end*/
/*About style start*/

.aboutsection1 .accordion-button {
    background-color: white;
    height: 65px;
}

.aboutsection1 .accordion-button.collapsed {
    background-color: #adc5c8;
    height: 65px;
}

.aboutsection1 .collapsed:hover {
    background-color: #4a757bb8;
    color: white;

}

.aboutsection1 .accordion-item {
    background: transparent;
    margin-bottom: 20px;
    border: 0px;
}


.aboutsection1 .accordion-body {
    background-color: white;
}


.aboutsection1 .accordion-button::after {
    margin-right: auto;
    margin-left: 0;
}



/*About style Ebd*/




/*FreeLancer style start*/
.freelancer .card {
    border-radius: 20px;
    box-shadow: 0px 5px 10px 5px #d2d2d2"

}

.freelancer .card-img-top {
    border-top-right-radius: 19px;
    border-top-left-radius: 19px;
}

.freelancer a {

    color: #0c52a1;
}

.freelancerprofile .card img {
    border-radius: 50%;
}

.freelancerprofile .circle {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #03114c;

    color: #03114c;
}

.freelancerprofile .circle:hover {

    background-color: #03114c;
    border-radius: 50%;
    border: 2px solid white;

    color: white;
}

.freelancerprofile .item {
    background: white;
    padding: 18px;
    border-radius: 25px;
    margin: 10px 5px;
    cursor: pointer;
}

.freelancerprofile .item:hover {
    background: #03114c;
    color: white;

}

.freelancerprofile .item span {
    cursor: pointer;
    margin: 0 8px;
    color: #03114c;

    display: none;
}

.freelancerprofile .item span:hover {
    color: red;

}


/* .freelancerprofile form input {
    background-color: white;
} */

/*FreeLancer style end*/